*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    background-color: #F00;   
    justify-content: space-between;
}